*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #F5F5F5;
    padding: 170px;
}
.container>h1{
    font-size: 50px;
}

.container>h1>span{
    color:   #4DB6AC;
}

.age_container{

  width: 45%;
  padding: 40px;
  text-align: center;
   background-color: #4DB6AC;
}

.age_container>input{
    height: 40px;
    width: 250px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 6px;
    padding-right: 6px;
     background-color: #F5F5F5;
}

.age_container>button{
    height: 40px;
    width: 100px;
    border: none;
    background-color: #F5F5F5;
}

.result{
    margin-top: 30px;
}
